<div
  class="border-1 scoreboard-background border-round surface-border p-2"
  [ngClass]="customHeight ? customHeight : 'h-8rem'"
>
  @if (hasDifferentContent) {
    <ng-content></ng-content>
  } @else if (leagueInformationScoreboard) {
    <mobile-league-information-scoreboard
      [league]="league"
    ></mobile-league-information-scoreboard>
  } @else if (gameScoreboard) {
    <mobile-game-information-scoreboard
      [LeagueWeek]="LeagueWeek"
      (newGameToViewEmitter)="onNewGameToView($event)"
    ></mobile-game-information-scoreboard>
  } @else if (teamScoreboard) {
    <mobile-team-scoreboard [player]="player"></mobile-team-scoreboard>
  } @else {
    <span>No Content Found</span>
  }
</div>
