draft-queue {
  .p-orderlist-controls {
    display: none;
  }

  .p-orderlist-list-container {
    background: none;
    border: none;
  }

  .p-orderlist {
    padding: 0;

    .p-orderlist-list {
      padding: 0;

      .p-orderlist-item {
        padding: 0;
      }
    }
  }
}

transfer-dialog {
  .p-orderlist-controls {
    display: none;
  }

  .p-orderlist-list .p-orderlist-item.p-highlight {
    color: inherit;
    background-color: inherit;
  }
}
