<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2"
>
  <span>Assists:</span>
  <span>{{ player.Assists }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Goals:</span>
  <span>{{ player.Goals }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Fouls:</span>
  <span>{{ player.Fouls }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Shots On Goal:</span>
  <span>{{ player.ShotsOnGoal }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Shots Off Goal:</span>
  <span>{{ player.ShotsOffGoal }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Yellow Cards:</span>
  <span>{{ player.YellowCards }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Red Cards:</span>
  <span>{{ player.RedCards }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Saves:</span>
  <span>{{ player.Saves }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Clean Sheet:</span>
  <span>{{ player.CleanSheet }}</span>
</div>

<div class="flex flex-row justify-content-between align-items-center pt-2">
  <span>Goals Allowed:</span>
  <span>{{ player.GoalsAllowed }}</span>
</div>
