@if (athleteSelection) {
  @for (player of athleteSelection; track $index) {
    <div
      class="flex flex-row align-items-center justify-content-between mb-2 pb-2 border-bottom-1 surface-border"
    >
      @if (!endDraft && draftMode) {
        <div class="data-cell">
          @if (myPick) {
            <span
              class="grid-item text-xs text-primary border-1 p-1 border-primary border-round"
              (click)="addToRoster(player)"
              >Pick</span
            >
          } @else {
            @if (player | getInQueuePlayerSearchPipe: queue) {
              <span
                class="grid-item text-xs text-primary border-1 p-1 border-primary border-round p-disabled"
                >Reserved</span
              >
            } @else {
              <span
                class="grid-item text-xs text-primary border-1 p-1 border-primary border-round"
                (click)="addToQueue(player)"
                >Reserve</span
              >
            }
          }
        </div>
      }
      <div class="data-cell" (click)="onPlayerSelected(player)">{{
        player.Name
      }}</div>
      <div class="data-cell">{{ player.Jersey }}</div>
      <div class="data-cell">{{ player.School }}</div>
      @if (!endDraft && draftMode) {
        <div class="data-cell">{{
          player.PredictedScore | number: "1.1-2"
        }}</div>
      }
    </div>
  }
}
