<div class="flex flex-row h-full">
  <div class="flex flex-column p-1 half-width">
    <div
      class="flex flex-row align-items-center justify-content-between mb-1 h-full"
    >
      <!-- <number-logo [school]="league.SchoolColors"></number-logo> -->
      <div class="flex flex-column" style="height: 100%; width: 75%">
        <div
          style="height: 50%"
          class="border-round-top"
          [style.background-color]="league.PrimaryColor"
        ></div
        ><div
          style="height: 50%"
          class="border-round-bottom"
          [style.background-color]="league.SecondaryColor"
        ></div>
      </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-between mb-1">
      <span class="width-half text-xs">Manager:</span>
      <span class="width-half text-xs"> {{ league.Manager }}</span>
    </div>
  </div>
  <div class="flex flex-column half-width">
    <span class="width-75 text-right text-xl"> {{ league.Name }}</span>
    <div class="flex flex-row align-items-center justify-content-between mb-1">
      <span class="width-half text-xs">Team:</span>
      <span class="width-half text-xs"> {{ league.Team }}</span>
    </div>
    <div class="flex flex-row align-items-center justify-content-between mb-1">
      <span class="width-half text-xs">Leader:</span>
      <span class="width-half text-xs"> {{ league.Leader }}</span>
    </div>
    <div class="flex flex-row align-items-center justify-content-between mb-1">
      <span class="width-half text-xs">Current Ranking:</span>
      <span class="width-half text-xs"> {{ league.CurrentRanking }}</span>
    </div>
  </div>
</div>
