@if (player && school) {
  <div class="flex flex-row justify-content-between mb-2">
    <div class="mr-2">
      <number-logo [player]="player" [school]="school"></number-logo>
    </div>
    <div
      class="flex flex-column ml-2"
      style="max-width: 60%; overflow-wrap: break-word"
    >
      <div class="text-4xl" style="text-wrap: wrap; text-align: right">
        {{ player.Position }} {{ player.Name }}
      </div>
      @if (draftModal) {
        <div
          class="text-4xl mt-2 border-top-1"
          style="text-wrap: wrap; text-align: right"
        >
          {{ player.School }}
        </div>
      } @else {
        <div
          class="inline-flex align-items-center justify-content-end gap-2 pt-1 mt-2 border-top-1"
        >
          @if (LeaguePlayer) {
            <p-tag>{{ LeaguePlayer.TeamName }}</p-tag>
          } @else {
            <p-tag severity="success" (click)="addToTeam()">Add to Team</p-tag>
            <!-- <p-button
              size="small"
              label="Add to Team"
              (onClick)="addToTeam()"
            ></p-button> -->
          }
          <p-avatar [image]="player.Logos[0]" shape="circle" />
          <span class="text-4xl" style="text-wrap: wrap; text-align: right">{{
            school.Abbreviation
          }}</span>
        </div>
      }
    </div>
  </div>
}
