<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2"
>
  <span>Assists:</span>
  <span>{{ player.Assists }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Blocked Shots:</span>
  <span>{{ player.BlockedShots }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Free Throws:</span>
  <span>{{ player.FreeThrows }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Rebounds:</span>
  <span>{{ player.Rebounds }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Steals:</span>
  <span>{{ player.Steals }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Three Pointers:</span>
  <span>{{ player.ThreePointers }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Turnovers:</span>
  <span>{{ player.Turnovers }}</span>
</div>

<div class="flex flex-row justify-content-between align-items-center pt-2">
  <span>Two Pointers:</span>
  <span>{{ player.TwoPointers }}</span>
</div>
