<div class="scrollable-container" [style]="{ height: '100%' }">
  <div class="header">
    <div
      class="flex flex-row mb-2 align-items-center justify-content-between border-bottom-1 surface-border"
    >
      <player-sort
        class="header-item"
        [sortFunction]="'Name'"
        [currentSortFunction]="currentSortFunction()"
        [currentSortType]="currentSortType()"
        (sortFunctionEmitter)="setSortFunction($event)"
      ></player-sort>
      <player-sort
        class="header-item"
        [sortFunction]="'Number'"
        [currentSortFunction]="currentSortFunction()"
        [currentSortType]="currentSortType()"
        (sortFunctionEmitter)="setSortFunction($event)"
      ></player-sort>
      <player-sort
        class="header-item"
        [sortFunction]="'School'"
        [currentSortFunction]="currentSortFunction()"
        [currentSortType]="currentSortType()"
        (sortFunctionEmitter)="setSortFunction($event)"
      ></player-sort>
      <player-sort
        class="header-item text-xxs"
        [sortFunction]="'Proj PPG'"
        [currentSortFunction]="currentSortFunction()"
        [currentSortType]="currentSortType()"
        (sortFunctionEmitter)="setSortFunction($event)"
      ></player-sort>
    </div>
  </div>

  <div class="body">
    @for (athlete of athleteSelection | async; track athlete) {
      <div
        class="flex flex-row align-items-center justify-content-between mb-2 pb-2 border-bottom-1 surface-border"
      >
        <div class="data-cell" (click)="onPlayerSelected(athlete)">{{
          athlete.Name
        }}</div>
        <div class="data-cell">{{ athlete.Jersey }}</div>
        <div class="data-cell">{{ athlete.School }}</div>
        <div class="data-cell">{{
          athlete.PredictedScore | number: "1.1-2"
        }}</div>
      </div>
    }
  </div>
</div>
