.football-background {
  background-color: brown;
}

.baseball-background {
  // need to set
  background-color: black;
}

.basketball-background {
  background-color: #f88158;
}

.soccer-background {
  // need to set
  // @include(bg-primary)
}

.football-text {
  color: white;
}

.baseball-text {
  color: white;
}

.basketball-text {
  color: white;
}

.soccer-text {
  color: white;
}

.football-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: brown;
}

.baseball-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.soccer-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: brown;
}

.basketball-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: #f88158;
}

.football-bottom-border-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: brown;
}

.baseball-bottom-border-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: brown;
}

.soccer-bottom-border-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: brown;
}

.basketball-bottom-border-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f88158;
}
