.data-cell-left {
  flex: 1;
  text-align: center;

  &:first-child {
    flex: none; // Remove flex grow from the first column
    text-align: left;
    width: 2rem;
  }

  // &.no-flex {
  //   flex: none; // Remove flex grow from the first column
  //   text-align: left;
  //   width: 2rem;
  // }

  &:last-child {
    text-align: right;
  }

  &.score {
    flex: none;
    width: 3rem;
  }
}

.data-cell-right {
  flex: 1;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  // &.no-flex {
  //   flex: none; // Remove flex grow from the first column
  //   text-align: right;
  //   width: 2rem;
  // }

  // &:nth-child(2) {
  //   flex: none;
  //   width: 2rem;
  // }

  &:last-child {
    flex: none; // Remove flex grow from the first column
    text-align: right;
    width: 2rem;
  }

  &.score {
    flex: none;
    width: 3rem;
  }
}

.first-string-background {
  background-color: var(--gray-100);
}

.second-string-background {
  background-color: var(--gray-200);
}

.bench-background {
  background-color: var(--gray-300);
}

* {
  cursor: default;
}
