@if (reverse) {
  @switch (leagueType) {
    @case (SportEnum.Baseball) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstString ||
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstStringFlex
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString ||
                  (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondStringFlex
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (game) {
            <span class="data-cell-right score pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-right pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
          <span class="data-cell-right no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          <span
            class="data-cell-right text-right pl-2"
            (click)="navigateTo(pos)"
          >
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-right no-flex pr-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
        </div>
      }
    }
    @case (SportEnum.Basketball) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
            RosterPositionEnum.FirstString
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (game) {
            <span class="data-cell-right score pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-right pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
          <span class="data-cell-right no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          <span
            class="data-cell-right text-right pl-2"
            (click)="navigateTo(pos)"
          >
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-right no-flex pr-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
        </div>
      }
    }
    @case (SportEnum.Football) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
            RosterPositionEnum.FirstString
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.FirstString
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (game) {
            <span class="data-cell-right score pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-right pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
          <span class="data-cell-right">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          <span
            class="data-cell-right text-right pl-2"
            (click)="navigateTo(pos)"
          >
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          @if (pos == "FTFLEX" || pos == "STFLEX") {
            <span class="data-cell-right pr-1">FLEX</span>
          } @else {
            <span class="data-cell-right pr-1">{{
              pos | rosterPositionPipe: leagueType : team ?? []
            }}</span>
          }
        </div>
      }
    }
    @case (SportEnum.Soccer) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstString ||
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstStringFlex
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString ||
                  (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondStringFlex
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (game) {
            <span class="data-cell-right score pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-right pl-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
          <span class="data-cell-right no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          <span
            class="data-cell-right text-right pl-2"
            (click)="navigateTo(pos)"
          >
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-right no-flex pr-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
        </div>
      }
    }
    @case (SportEnum.None) {
      <span>Error loading details, please refresh the page</span>
    }
  }
} @else {
  @switch (leagueType) {
    @case (SportEnum.Baseball) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstString ||
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstStringFlex
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString ||
                  (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondStringFlex
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (canEditTeam) {
            <span
              class="data-cell-left text-xs text-primary border-1 p-1 border-primary border-round mr-2 cursor-pointer"
              style="max-width: 4rem"
              (click)="onEditTeam(pos)"
              >Edit</span
            >
          }
          <span class="data-cell-left no-flex pl-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
          <span class="data-cell-left text-left pl-2" (click)="navigateTo(pos)">
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-left no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          @if (game) {
            <span class="data-cell-left score pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-left pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
        </div>
      }
    }
    @case (SportEnum.Basketball) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
            RosterPositionEnum.FirstString
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (canEditTeam) {
            <span
              class="data-cell-left text-xs text-primary border-1 p-1 border-primary border-round mr-2 cursor-pointer"
              style="max-width: 4rem"
              (click)="onEditTeam(pos)"
              >Edit</span
            >
          }
          <span class="data-cell-left no-flex pl-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
          <span class="data-cell-left text-left pl-2" (click)="navigateTo(pos)">
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-left no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          @if (game) {
            <span class="data-cell-left score pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-left pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
        </div>
      }
    }
    @case (SportEnum.Football) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstString ||
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstStringFlex
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString ||
                  (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondStringFlex
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (canEditTeam) {
            <span
              class="data-cell-left text-xs text-primary border-1 p-1 border-primary border-round mr-2 cursor-pointer"
              style="max-width: 4rem"
              (click)="onEditTeam(pos)"
              >Edit</span
            >
          }
          @if (pos == "FTFLEX" || pos == "STFLEX") {
            <span class="data-cell-left no-flex pl-1">FLEX</span>
          } @else {
            <span class="data-cell-left no-flex pl-1">{{
              pos | rosterPositionPipe: leagueType : team ?? []
            }}</span>
          }
          <span class="data-cell-left text-left pl-2" (click)="navigateTo(pos)">
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-left no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          @if (game) {
            <span class="data-cell-left score pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-left pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
        </div>
      }
    }
    @case (SportEnum.Soccer) {
      @for (pos of positions; track pos) {
        <div
          class="flex flex-row align-items-center justify-content-between pt-2 pb-2 border-bottom-1 surface-border text-xs"
          [ngClass]="
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstString ||
            (pos | rosterPlayerPipe: leagueType : team ?? []).RosterPosition ===
              RosterPositionEnum.FirstStringFlex
              ? 'first-string-background'
              : (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondString ||
                  (pos | rosterPlayerPipe: leagueType : team ?? [])
                    .RosterPosition === RosterPositionEnum.SecondStringFlex
                ? 'second-string-background'
                : 'bench-background'
          "
        >
          @if (canEditTeam) {
            <span
              class="data-cell-left text-xs text-primary border-1 p-1 border-primary border-round mr-2 cursor-pointer"
              style="max-width: 4rem"
              (click)="onEditTeam(pos)"
              >Edit</span
            >
          }
          <span class="data-cell-left no-flex pl-1">{{
            pos | rosterPositionPipe: leagueType : team ?? []
          }}</span>
          <span class="data-cell-left text-left pl-2" (click)="navigateTo(pos)">
            <span class="cursor-pointer">
              {{
                (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Name
              }}
            </span></span
          >
          <span class="data-cell-left no-flex">{{
            (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.Jersey
          }}</span>
          @if (game) {
            <span class="data-cell-left score pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete
                .PredictedScore | number: "1.1-2"
            }}</span>
          } @else {
            <span class="data-cell-left pr-1">{{
              (pos | rosterPlayerPipe: leagueType : team ?? []).Athlete.School
            }}</span>
          }
        </div>
      }
    }
    @case (SportEnum.None) {
      <span>Error loading details, please refresh the page</span>
    }
  }
}
