.scrollable-container {
  display: flex;
  flex-direction: column;
  //   height: 100%; /* Adjust as needed */
}

.header {
  flex-shrink: 0;
  /* Header styles */
}

.body {
  flex: 1; /* Takes up remaining space */
  overflow-y: auto;
  /* Body styles */
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.data-cell-left {
  flex: 1;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}

.data-cell-right {
  flex: 1;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}
