<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2"
>
  <span>Passing Touchdown:</span>
  <span>{{ player.PassTD }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Passing Yards:</span>
  <span>{{ player.PassYds }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Interceptions:</span>
  <span>{{ player.Interceptions }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Rushing Yards:</span>
  <span>{{ player.RushYds }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Rushing Touchdowns:</span>
  <span>{{ player.RushTD }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Reception Yards:</span>
  <span>{{ player.ReceptionYds }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Receiving Touchdowns:</span>
  <span>{{ player.ReceptionTD }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Fumbles Lost:</span>
  <span>{{ player.FumblesLost }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Extra Points:</span>
  <span>{{ player.ExtraPoints }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Extra Points Missed:</span>
  <span>{{ player.ExtraPointsMissed }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Field Goals:</span>
  <span>{{ player.FieldGoals }}</span>
</div>

<div class="flex flex-row justify-content-between align-items-center pt-2">
  <span>Field Goals Missed:</span>
  <span>{{ player.FieldGoalsMissed }}</span>
</div>
