<div class="scrollable-container" [style]="{ height: '100%' }">
  <div class="header">
    <div
      class="flex flex-row mb-1 align-items-center justify-content-between border-bottom-1 surface-border"
    >
      <span class="header-item">Filters:</span>
      <span class="header-item">Position</span>
      <span class="header-item">General</span>
    </div>
    <div
      class="flex flex-row mb-2 align-items-center justify-content-between border-bottom-1 surface-border"
    >
      @if (!endDraft) {
        <span class="header-item">Pick</span>
        <span class="header-item">Remove</span>
      }
      <span class="header-item">Name</span>
      <span class="header-item">Number</span>
      <span class="header-item">School</span>
    </div>
  </div>

  <div class="body">
    @for (athlete of athletes; track athlete) {
      <div
        class="flex flex-row align-items-center justify-content-between mb-2 pb-2 border-bottom-1 surface-border"
      >
        @if (!endDraft) {
          <div class="data-cell">
            @if (currentlyPicking) {
              <span
                class="grid-item text-xs text-primary border-1 p-1 border-primary border-round"
                (click)="addToRoster(athlete)"
                >Pick</span
              >
            } @else {
              <span
                class="grid-item text-xs text-primary border-1 p-1 border-primary border-round p-disabled"
                >Pick</span
              >
            }
          </div>
          <span
            class="data-cell grid-item text-xs text-red-400 border-1 p-1 border-red-400 border-round"
            (click)="removeFromQueue(athlete)"
            >Remove</span
          >
        }
        <div class="data-cell">{{ athlete.Athlete.Name }}</div>
        <div class="data-cell">{{ athlete.Athlete.Number }}</div>
        <div class="data-cell">{{ athlete.Athlete.School.Name }}</div>
      </div>
    }
  </div>
</div>
