<div class="flex flex-row h-full">
  <div class="flex flex-column p-1 half-width">
    <div
      class="flex flex-row align-items-center justify-content-between mb-1 h-full"
    >
      <div
        class="flex flex-column"
        style="height: 100%; width: 100%; max-width: 150px"
      >
        <div
          style="height: 50%"
          class="border-round-top"
          [style.background-color]="player?.School?.Color"
        ></div
        ><div
          style="height: 50%"
          class="border-round-bottom"
          [style.background-color]="player?.School?.AltColor"
        ></div>
      </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-between mb-1">
      <span class="width-half text-xs">Head Coach:</span>
      <span class="width-half text-xs"> {{ player?.Name }}</span>
    </div>
  </div>
  <div class="flex flex-column half-width">
    <!-- <div class="flex flex-row"> -->
    <span class="width-75 text-right text-xl"> {{ player?.TeamName }}</span>
    <div class="flex flex-column flex-grow-1 justify-content-end">
      <span
        class="material-icons align-self-end cursor-pointer"
        (click)="openMyTeamSettings()"
        >settings</span
      >
    </div>
    <!-- </div> -->
    <!-- <div class="flex flex-row align-items-center justify-content-between mb-1">
        <span class="width-half text-xs">Current Ranking:</span>
        <span class="width-half text-xs"> {{ league.CurrentRanking }}</span>
      </div> -->
  </div>
</div>
