@if (isMobile) {
  <div class="grid-container w-full">
    <div class="grid-header max-w-full">
      <draft-nav (navigate)="navigateToRoute($event)"></draft-nav>
      <draft-pick-order
        [selectionTime]="activeLeague?.Settings?.DraftSelectionTime ?? 0"
        [draftOrder]="(draftOrder | async) ?? []"
        [pickOrder]="(pickOrder | async) ?? []"
        [pickUpdated]="(pickUpdated | async) ?? false"
        [currentPick]="currentPick | async"
        [pickMade]="pickMade | async"
        [endDraft]="(endDraft | async) ?? false"
        (timerEnd)="updateCurrentPick()"
      ></draft-pick-order>
    </div>
    <div
      class="grid-content max-w-full surface-border border-round border-1 p-2"
    >
      @switch (viewablePage | async) {
        @case (DraftNavEnum.Main) {
          <draft-main
            [athletes]="(athletes | async) ?? []"
            [currentlyPicking]="
              (currentPick | async)?.Player?.ID
                ? (currentPick | async)?.Player?.ID == activeUser?.ID
                  ? true
                  : false
                : false
            "
            (addToQueueEmitter)="addToQueue($event)"
            (addToRosterEmitter)="addToRoster($event)"
          ></draft-main>
        }
        @case (DraftNavEnum.Player) {
          <draft-player></draft-player>
        }
        @case (DraftNavEnum.Queue) {
          <draft-queue
            [athletes]="(queue | async) ?? []"
            [currentlyPicking]="
              (currentPick | async)?.Player?.ID
                ? (currentPick | async)?.Player?.ID == activeUser?.ID
                  ? true
                  : false
                : false
            "
            (addToRosterEmitter)="addToRoster($event)"
            (removeFromRosterEmitter)="removeFromQueue($event)"
          ></draft-queue>
        }
        @case (DraftNavEnum.MySelections) {
          <draft-my-selections></draft-my-selections>
        }
        @case (DraftNavEnum.Selections) {
          <draft-selections></draft-selections>
        }
        @case (DraftNavEnum.None) {
          <draft-main></draft-main>
        }
        @default {
          <draft-main></draft-main>
        }
      }
    </div>
  </div>
}
