@if (checkIfAtParentRoute()) {
  <div class="flex flex-column border-bottom-1 surface-border mb-1">
    <input
      class="m-2"
      type="text"
      pInputText
      [placeholder]="'Player Search'"
      [(ngModel)]="searchValue"
      (keyup)="filter(searchValue)"
    />
    <div class="flex flex-row">This will be a filter bar</div>
  </div>
  <div class="flex flex-column">
    @for (player of players | async; track player) {
      <div
        class="flex flex-row justify-content-between border-1 border-round p-2 mt-1 ml-2 mr-2 mb-1"
        [routerLink]="['player/', player.AthleteID]"
      >
        <span>{{ player.Number }}</span>
        <span>{{ player.Name }}</span>
        <span>{{ player.School.Name }}</span>
      </div>
    }
  </div>
} @else {
  <router-outlet></router-outlet>
}
