@if (isMobile) {
  @if (!draftStarted && beforeDraftDate) {
    <H2
      >Draft has not started yet, check back on
      {{ activeLeague?.DraftDate | date: "M/d/yy" }} at
      {{ activeLeague?.DraftDate | date: "h:mm a" }}</H2
    >
  } @else if (!draftStarted) {
    <draft-otp
      [isLeagueManager]="activeLeague?.Manager?.PlayerID == activeUser?.ID"
      [draftKey]="draftKey"
      [displayWaitingRoom]="inWaitingRoom()"
      [connectedUsers]="connectedUsers"
      [webSocketError]="webSocketError()"
      (createDraft)="onCreateDraft()"
      (joinDraft)="onJoinDraft($event)"
      (enterDraft)="onEnterDraft()"
    ></draft-otp>
  } @else {
    <p-toast />
    <div class="grid-container w-full">
      <div class="grid-header max-w-full">
        <draft-nav
          [currentNav]="(viewablePage | async) ?? DraftNavEnum.Main"
          (navigate)="navigateToRoute($event)"
        ></draft-nav>
        <draft-pick-order
          [selectionTime]="
            activeLeague?.Settings?.DraftSettingsModel?.SelectionTime ?? 0
          "
          [draftOrder]="(draftOrder | async) ?? []"
          [pickOrder]="(pickOrder | async) ?? []"
          [pickUpdated]="(pickUpdated | async) ?? false"
          [currentPick]="currentPick | async"
          [pickMade]="pickMade | async"
          [endDraft]="(endDraft | async) ?? false"
          (timerEnd)="onUpdateCurrentPick()"
        ></draft-pick-order>
      </div>
      <div class="grid-content max-w-full surface-border border-round border-1">
        @switch (viewablePage | async) {
          @case (DraftNavEnum.Main) {
            <div class="pb-2 pl-2 pr-2">
              <draft-main
                [leagueType]="activeLeague?.LeagueType ?? SportEnum.None"
                [athletes]="(athletes$ | async) ?? []"
                [queue]="(queue$ | async) ?? []"
                [currentlyPicking]="
                  (currentPick | async)?.Player?.PlayerID
                    ? (currentPick | async)?.Player?.PlayerID == activeUser?.ID
                      ? true
                      : false
                    : false
                "
                [endDraft]="(endDraft | async) ?? false"
                (addToQueueEmitter)="onAddToQueue($event)"
                (addToRosterEmitter)="onAddToRoster($event)"
                (dialogPlayerEmitter)="showDialog($event)"
                (searchEmitter)="onSearch()"
              ></draft-main>
            </div>
          }
          @case (DraftNavEnum.Player) {
            <div class="p-2"> <draft-player></draft-player></div>
          }
          @case (DraftNavEnum.Queue) {
            <div class="pb-2 pl-2 pr-2">
              <draft-queue
                [leagueType]="activeLeague?.LeagueType ?? SportEnum.None"
                [athletes]="(queue$ | async) ?? []"
                [currentlyPicking]="
                  (currentPick | async)?.Player?.PlayerID
                    ? (currentPick | async)?.Player?.PlayerID == activeUser?.ID
                      ? true
                      : false
                    : false
                "
                [endDraft]="(endDraft | async) ?? false"
                (addToRosterEmitter)="onAddToRoster($event)"
                (removeFromRosterEmitter)="onRemoveFromQueue($event)"
                (dialogPlayer)="showDialog($event)"
              ></draft-queue
            ></div>
          }
          @case (DraftNavEnum.MySelections) {
            <div class="pb-2 pl-2 pr-2">
              <draft-my-selections
                [leagueType]="activeLeague?.LeagueType ?? SportEnum.None"
                [athletes]="(myTeam | async) ?? []"
                (dialogPlayer)="showDialog($event)"
              ></draft-my-selections
            ></div>
          }
          @case (DraftNavEnum.Selections) {
            <draft-selections
              [selections]="(draftSelections | async) ?? []"
              [numberOfRounds]="numberOfRounds"
              (dialogPlayer)="showDialog($event)"
            ></draft-selections>
          }
          @case (DraftNavEnum.None) {
            <div class="p-2"> <draft-main></draft-main></div>
          }
          @default {
            <div class="p-2"> <draft-main></draft-main></div>
            <draft-main></draft-main>
          }
        }
      </div>
    </div>
  }
}

<p-dialog
  header="Header"
  [(visible)]="playerDialogVisible"
  [modal]="true"
  [style]="{
    'min-height': '75%',
    'max-height': '75%',
    'min-width': '100%',
    'max-width': '100%',
  }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <p-avatar
        [image]="playerDialogPlayer().Athlete.Logos[0]"
        shape="circle"
      />
      <span class="font-bold white-space-nowrap">
        {{ playerDialogPlayer().Athlete.Name }}
      </span>
    </div>
  </ng-template>
  @if (playerDialogPlayer() && playerDialogPlayer().Athlete) {
    <!-- <player-header
      [player]="playerDialogPlayer().Athlete"
      [draftModal]="true"
    ></player-header> -->
    <div>
      <div
        class="border-round mb-2 mt-2 p-2"
        [ngClass]="
          (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Football
            ? 'football-border-1'
            : (activeLeague?.LeagueType ?? SportEnum.None) ==
                SportEnum.Basketball
              ? 'basketball-border-1'
              : (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Soccer
                ? 'border-primary border-1'
                : 'baseball-border-1'
        "
      >
        <div class="flex flex-row justify-content-center mb-2">
          <span
            class="text-xl"
            [ngClass]="
              (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Football
                ? 'football-bottom-border-1'
                : (activeLeague?.LeagueType ?? SportEnum.None) ==
                    SportEnum.Basketball
                  ? 'basketball-bottom-border-1'
                  : (activeLeague?.LeagueType ?? SportEnum.None) ==
                      SportEnum.Soccer
                    ? 'soccer-bottom-border-1'
                    : 'baseball-bottom-border-1'
            "
            >Player Info</span
          >
        </div>
        <div
          class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2"
        >
          <span>Team:</span>
          <span>{{ playerDialogPlayer().Athlete.School }}</span>
        </div>
        <div
          class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
        >
          <span>Height:</span>
          <span>{{
            playerDialogPlayer().Athlete.Height | heightPipe: "feet"
          }}</span>
        </div>
        <div
          class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
        >
          <span>Weight:</span>
          <span>{{ playerDialogPlayer().Athlete.Weight }} lbs</span>
        </div>
        <div
          class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
        >
          <span>Year:</span>
          @switch (playerDialogPlayer().Athlete.Year) {
            @case (1) {
              <span>Freshman</span>
            }
            @case (2) {
              <span>Sophomore</span>
            }
            @case (3) {
              <span>Junior</span>
            }
            @case (4) {
              <span>Senior</span>
            }
          }
        </div>
      </div>
    </div>
    <div
      class="border-round p-2"
      [ngClass]="
        (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Football
          ? 'football-border-1'
          : (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Basketball
            ? 'basketball-border-1'
            : (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Soccer
              ? 'border-primary border-1'
              : 'baseball-border-1'
      "
    >
      <div class="flex flex-row justify-content-center mb-2">
        <span
          class="text-xl"
          [ngClass]="
            (activeLeague?.LeagueType ?? SportEnum.None) == SportEnum.Football
              ? 'football-bottom-border-1'
              : (activeLeague?.LeagueType ?? SportEnum.None) ==
                  SportEnum.Basketball
                ? 'basketball-bottom-border-1'
                : (activeLeague?.LeagueType ?? SportEnum.None) ==
                    SportEnum.Soccer
                  ? 'soccer-bottom-border-1'
                  : 'baseball-bottom-border-1'
          "
          >Projected Season Stats</span
        >
      </div>
      <draft-player
        [leagueType]="activeLeague?.LeagueType ?? SportEnum.None"
        [baseballDraftPlayer]="playerDialogPlayer()"
      ></draft-player>
    </div>
  }
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="searchDialogVisible"
  [modal]="true"
  [style]="{
    'min-height': '75%',
    'max-height': '75%',
    'min-width': '100%',
    'max-width': '100%',
  }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <i class="pi pi-search"></i>
      <span class="font-bold white-space-nowrap"> Player Search </span>
    </div>
  </ng-template>
  <player-search
    [draftMode]="true"
    [leagueType]="activeLeague?.LeagueType ?? SportEnum.None"
    [athletes]="searchAthletes()"
    [myPick]="
      (currentPick | async)?.Player?.PlayerID
        ? (currentPick | async)?.Player?.PlayerID == activeUser?.ID
          ? true
          : false
        : false
    "
    [endDraft]="(endDraft | async) ?? false"
    [queue]="(queue$ | async) ?? []"
    (dialogPlayerEmitter)="showDialog($event)"
    (addToQueueFromSearchEmitter)="onAddToFromSearch(true, $event)"
    (addToRosterFromSearchEmitter)="onAddToFromSearch(false, $event)"
  ></player-search>
</p-dialog>
