<div class="scrollable-container" [style]="{ height: '100%' }">
  <div class="header w-full pb-2 mb-2 border-bottom-1 surface-border">
    <div
      class="flex align-items-center justify-content-start text-primary mb-1"
      [routerLink]="['/home']"
    >
      <i class="pi pi-angle-left"></i>
      <span>Home</span>
    </div>
  </div>

  <div class="body">
    @if (leagueType() == SportEnum.Football) {
      <new-football-league></new-football-league>
    } @else if (leagueType() == SportEnum.Baseball) {
      <new-baseball-league></new-baseball-league>
    } @else if (leagueType() == SportEnum.Basketball) {
      <new-basketball-league></new-basketball-league>
    } @else if (leagueType() == SportEnum.Soccer) {}
  </div>
</div>
