@if (isMobile) {
  @if (checkIfAtParentRoute()) {
    <div class="scrollable-container" [style]="{ height: '100%' }">
      <div class="header">
        <mobile-scoreboard
          [teamScoreboard]="true"
          [player]="currentPlayer"
          (openMyTeamSettingsDialogEmitter)="onOpenMyTeamSettingsDialog()"
        >
        </mobile-scoreboard>
        <div
          class="flex flex-row align-items-center justify-content-between mt-1 pb-2 border-bottom-1 surface-border text-xs"
        >
          <span class="header-item mr-2">Edit</span>
          <span class="header-item no-flex">Pos</span>
          <span class="header-item">Name</span>
          <span class="header-item no-flex">Number</span>
          <span class="header-item">School</span>
        </div>
      </div>
      <div class="body">
        <roster
          [team]="team"
          [canEditTeam]="true"
          [leagueType]="leagueType"
          (navigateToEmitter)="navigateTo($event)"
          (editTeamEmitter)="onTeamEdit($event)"
        ></roster>
      </div>
    </div>
  }

  <router-outlet></router-outlet>
}
