@if (isMobile) {
  @if (player) {
    @if (leaguePlayer) {
      <player-header
        [player]="player"
        [LeaguePlayer]="leaguePlayer"
        [school]="school"
        (newPlayer)="onAddNewPlayer($event)"
      ></player-header>
    } @else {
      <player-header
        [player]="player"
        [school]="school"
        (newPlayer)="onAddNewPlayer($event)"
      ></player-header>
    }
    <div style="overflow-y: auto">
      <div
        class="border-round mb-2 p-2"
        [ngClass]="
          leagueType == SportEnum.Football
            ? 'football-border-1'
            : leagueType == SportEnum.Basketball
              ? 'basketball-border-1'
              : leagueType == SportEnum.Soccer
                ? 'border-primary border-1'
                : 'baseball-border-1'
        "
      >
        <div class="flex flex-row justify-content-center mb-2">
          <span
            class="text-xl"
            [ngClass]="
              leagueType == SportEnum.Football
                ? 'football-bottom-border-1'
                : leagueType == SportEnum.Basketball
                  ? 'basketball-bottom-border-1'
                  : leagueType == SportEnum.Soccer
                    ? 'soccer-bottom-border-1'
                    : 'baseball-bottom-border-1'
            "
            >Player Info</span
          >
        </div>
        <div class="flex flex-row justify-content-between align-items-center">
          <span>Team:</span>
          <span>{{ player.School }}</span>
        </div>
        <div class="flex flex-row justify-content-between align-items-center">
          <span>Position:</span>
          <span>{{ player.Position }}</span>
        </div>
        <div class="flex flex-row justify-content-between align-items-center">
          <span>Height:</span>
          <span>{{ player.Height | heightPipe: "feet" }}</span>
        </div>
        @if (player.Weight) {
          <div class="flex flex-row justify-content-between align-items-center">
            <span>Weight:</span>
            <span>{{ player.Weight }} lbs</span>
          </div>
        }
        <div class="flex flex-row justify-content-between align-items-center">
          <span>Year:</span>
          @switch (player.Year) {
            @case (1) {
              <span>Freshman</span>
            }
            @case (2) {
              <span>Sophomore</span>
            }
            @case (3) {
              <span>Junior</span>
            }
            @case (4) {
              <span>Senior</span>
            }
          }
        </div>
      </div>
      <div
        class="border-round p-2"
        [ngClass]="
          leagueType == SportEnum.Football
            ? 'football-border-1'
            : leagueType == SportEnum.Basketball
              ? 'basketball-border-1'
              : leagueType == SportEnum.Soccer
                ? 'border-primary border-1'
                : 'baseball-border-1'
        "
      >
        <div class="flex flex-row justify-content-center mb-2">
          <span
            class="text-xl"
            [ngClass]="
              leagueType == SportEnum.Football
                ? 'football-bottom-border-1'
                : leagueType == SportEnum.Basketball
                  ? 'basketball-bottom-border-1'
                  : leagueType == SportEnum.Soccer
                    ? 'soccer-bottom-border-1'
                    : 'baseball-bottom-border-1'
            "
            >Season Stats</span
          >
        </div>
        @switch (leagueType) {
          @case (SportEnum.Football) {
            <football-player-stats
              [player]="footballPlayerStats"
            ></football-player-stats>
          }
          @case (SportEnum.Basketball) {
            <basketball-player-stats
              [player]="basketballPlayerStats"
            ></basketball-player-stats>
          }
          @case (SportEnum.Baseball) {
            <baseball-player-stats
              [player]="baseballPlayerStats"
            ></baseball-player-stats>
          }
          @case (SportEnum.Soccer) {
            <soccer-player-stats
              [player]="soccerPlayerStats"
            ></soccer-player-stats>
          }
        }
      </div>
    </div>
  } @else {
    <h1>No player found</h1>
  }
}
