@if (isMobile) {
  <div class="scrollable-container" [style]="{ height: '100%' }">
    <div class="head mb-2 cursor-none">
      <div class="flex justify-content-between align-items-center">
        <h1 class="text-center">College Sports +</h1>
        <p-avatar
          class="cursor-pointer"
          [label]="userInitials()"
          size="xlarge"
          (click)="op.toggle($event)"
        ></p-avatar>
      </div>
      <mobile-scoreboard [hasDifferentContent]="true">
        <div class="flex flex-column">
          <span class="mt-2 mb-2">Welcome to College Sports +</span>
          <span class="mt-2 mb-2">Checkout your leagues here</span>
          <div
            class="flex flex-row align-items-center justify-content-between mt-2 mb-2"
          >
            <span
              class="pi-spin material-icons"
              style="width: 24px; color: brown"
              >sports_football</span
            >
            <span
              class="pi-spin material-icons"
              style="width: 24px; color: #f88158"
              >sports_basketball</span
            >
            <span class="pi-spin material-icons" style="width: 24px"
              >sports_baseball</span
            >
            <span
              class="pi-spin material-icons text-primary"
              style="width: 24px"
              >sports_soccer</span
            >
          </div>
        </div>
      </mobile-scoreboard>
    </div>
    <div class="body cursor-none">
      <div class="flex flex-row justify-content-between">
        <div class="flex flex-row"
          ><span class="material-icons" style="width: 24px; color: brown"
            >sports_football</span
          >
          <span>Football</span>
        </div>
        <div class="flex flex-row">
          <i
            class="pi pi-plus cursor-pointer"
            style="width: 24px; color: brown"
            [routerLink]="['/create-league']"
            [queryParams]="{ lt: SportEnum.Football }"
            queryParamsHandling="merge"
          ></i>
          <i
            class="pi pi-search cursor-pointer"
            style="width: 24px; color: brown"
            [routerLink]="['/league-search']"
            [queryParams]="{ lt: SportEnum.Football }"
            queryParamsHandling="merge"
          ></i>
        </div>
      </div>
      <div [ngClass]="!isMobileForExpo ? 'flex flex-row flex-wrap' : ''">
        @for (league of leagueList | async; track league) {
          @if (league.Sport == SportEnum.Football) {
            <div
              class="m-2 cursor-pointer"
              [ngClass]="!isMobileForExpo ? 'scoreboard-width' : ''"
            >
              <mobile-scoreboard
                [routerLink]="['/league', league.ID]"
                [leagueInformationScoreboard]="true"
                [league]="league"
                class="w-full"
              ></mobile-scoreboard>
            </div>
          }
        }
      </div>
      <div class="flex flex-row justify-content-between">
        <div class="flex flex-row"
          ><span class="material-icons" style="width: 24px; color: #f88158"
            >sports_basketball</span
          >
          <span>Basketball</span></div
        >
        <div class="flex flex-row">
          <i
            class="pi pi-plus cursor-pointer"
            style="width: 24px; color: #f88158"
            [routerLink]="['/create-league']"
            [queryParams]="{ lt: SportEnum.Basketball }"
            queryParamsHandling="merge"
          ></i>
          <i
            class="pi pi-search cursor-pointer"
            style="width: 24px; color: #f88158"
            [routerLink]="['/league-search']"
            [queryParams]="{ lt: SportEnum.Basketball }"
            queryParamsHandling="merge"
          ></i>
        </div>
      </div>
      <div [ngClass]="!isMobileForExpo ? 'flex flex-row flex-wrap' : ''">
        @for (league of leagueList | async; track league) {
          @if (league.Sport == SportEnum.Basketball) {
            <div
              class="m-2 cursor-pointer"
              [ngClass]="!isMobileForExpo ? 'scoreboard-width' : ''"
            >
              <mobile-scoreboard
                [routerLink]="['/league', league.ID]"
                [leagueInformationScoreboard]="true"
                [league]="league"
                class="w-full"
              ></mobile-scoreboard>
            </div>
          }
        }
      </div>
      <div class="flex flex-row justify-content-between">
        <div class="flex flex-row"
          ><span class="material-icons" style="width: 24px"
            >sports_baseball</span
          >
          <span>Baseball</span></div
        >
        <div class="flex flex-row">
          <i
            class="pi pi-plus cursor-pointer"
            style="width: 24px"
            [routerLink]="['/create-league']"
            [queryParams]="{ lt: SportEnum.Baseball }"
            queryParamsHandling="merge"
          ></i>
          <i
            class="pi pi-search cursor-pointer"
            style="width: 24px"
            [routerLink]="['/league-search']"
            [queryParams]="{ lt: SportEnum.Baseball }"
            queryParamsHandling="merge"
          ></i>
        </div>
      </div>
      <div [ngClass]="!isMobileForExpo ? 'flex flex-row flex-wrap' : ''">
        @for (league of leagueList | async; track league) {
          @if (league.Sport == SportEnum.Baseball) {
            <div
              class="m-2 cursor-pointer"
              [ngClass]="!isMobileForExpo ? 'scoreboard-width' : ''"
            >
              <mobile-scoreboard
                [routerLink]="['/league', league.ID]"
                [leagueInformationScoreboard]="true"
                [league]="league"
                class="w-full"
              ></mobile-scoreboard>
            </div>
          }
        }
      </div>
      <div class="flex flex-row justify-content-between">
        <div class="flex flex-row"
          ><span class="material-icons text-primary" style="width: 24px"
            >sports_soccer</span
          >
          <span>Soccer</span></div
        >
        <div class="flex flex-row">
          <i
            class="pi pi-plus text-primary cursor-pointer"
            style="width: 24px"
            [routerLink]="['/create-league']"
            [queryParams]="{ lt: SportEnum.Soccer }"
            queryParamsHandling="merge"
          ></i>
          <i
            class="pi pi-search text-primary cursor-pointer"
            style="width: 24px"
            [routerLink]="['/league-search']"
            [queryParams]="{ lt: SportEnum.Soccer }"
            queryParamsHandling="merge"
          ></i>
        </div>
      </div>
      <div [ngClass]="!isMobileForExpo ? 'flex flex-row flex-wrap' : ''">
        @for (league of leagueList | async; track league) {
          @if (league.Sport == SportEnum.Soccer) {
            <div
              class="m-2 cursor-pointer"
              [ngClass]="!isMobileForExpo ? 'scoreboard-width' : ''"
            >
              <mobile-scoreboard
                [routerLink]="['/league', league.ID]"
                [leagueInformationScoreboard]="true"
                [league]="league"
                class="w-full"
              ></mobile-scoreboard>
            </div>
          }
        }
      </div>
    </div>
  </div>
}

<p-overlayPanel #op>
  <div class="flex flex-column">
    <div
      class="p-2 text-l border-bottom-1 surface-border cursor-pointer"
      [routerLink]="['/account']"
      >Account</div
    >
    <div
      class="p-2 text-l border-bottom-1 surface-border cursor-pointer"
      (click)="navigateTohelp()"
      >Help</div
    >
    <div
      class="p-2 text-l border-bottom-1 surface-border cursor-pointer"
      (click)="logout()"
      >Logout</div
    >
  </div>
</p-overlayPanel>
