<div class="scrollable-container" [style]="{ height: '100%' }">
  <div class="header w-full pb-2 mb-2 border-bottom-1 surface-border">
    <div
      class="flex align-items-center justify-content-start text-primary mb-1"
      [routerLink]="['/home']"
    >
      <i class="pi pi-angle-left"></i>
      <span>Home</span>
    </div>
  </div>

  <div class="body">
    <span class="text-2xl font-semibold">Update Account Info</span>
    <div class="field p-fluid mt-4">
      <p-floatLabel>
        <input
          pInputText
          [ngModel]="displayName"
          (ngModelChange)="onTextChanges($event)"
          id="team-name"
          type="text"
        />
        <label for="team-name">Display Name</label>
      </p-floatLabel>
    </div>
    @if (showSaveButton()) {
      <p-button label="Save Changes" (onClick)="saveChanges()"></p-button>
    }
  </div>
</div>
