:root {
  --vh: 1vh;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px); // Full viewport height
}

@supports (height: 100dvh) {
  .root-container {
    height: calc(100dvh - 16px);
  }
}

.body {
  height: 100%;
}
