<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2"
>
  <span>Runs:</span>
  <span>{{ player.Runs }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Hits:</span>
  <span>{{ player.HitsByPitch }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Errors:</span>
  <span>{{ player.EarnedRunsAllowed }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Home Runs:</span>
  <span>{{ player.Homers }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Singles:</span>
  <span>{{ player.Singles }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Doubles:</span>
  <span>{{ player.Doubles }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Triples:</span>
  <span>{{ player.Triples }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Saves:</span>
  <span>{{ player.Saves }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Walks:</span>
  <span>{{ player.Walks }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Stolen Bases:</span>
  <span>{{ player.StolenBases }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Wins:</span>
  <span>{{ player.Win }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Runs:</span>
  <span>{{ player.Runs }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Runs Batted In:</span>
  <span>{{ player.RunsBattedIn }}</span>
</div>

<div
  class="flex flex-row justify-content-between align-items-center surface-border border-bottom-1 pb-2 pt-2"
>
  <span>Caught Stealing:</span>
  <span>{{ player.CaughtStealing }}</span>
</div>

<div class="flex flex-row justify-content-between align-items-center pt-2">
  <span>Saves:</span>
  <span>{{ player.Saves }}</span>
</div>
