.grid-container {
  max-width: calc(100vw - 1.5rem) !important;
  width: calc(100vw - 1.5rem) !important;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.grid-content {
  overflow-y: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.max-w-full {
  max-width: calc(100vw - 1.5rem) !important;
}
