.text-green {
  color: var(--green-500);
}

.root-container {
  display: flex;
  flex-direction: column;
  height: calc(100%); // Full viewport height
}

@media screen and (orientation: portrait) {
  .header {
    flex: 0 0 4%; // Fixed to 10% of the height
  }

  .body {
    flex: 1 0 96%; // Takes up the remaining 80% of the height
    overflow: auto; // Enables scrolling if content overflows
  }
}
@media screen and (orientation: landscape) {
  .header {
    flex: 0 0 10%; // Fixed to 10% of the height
  }

  .body {
    flex: 1 0 90%; // Takes up the remaining 80% of the height
    overflow: auto; // Enables scrolling if content overflows
  }
}
