.text-green {
  color: var(--green-500);
}

.root-container {
  display: flex;
  flex-direction: column;
  height: calc(100%); // Full viewport height
}

@media screen and (orientation: portrait) {
  .header {
    flex: 0 0 4%; // Fixed to 10% of the height
  }

  .body {
    flex: 1 0 96%; // Takes up the remaining 80% of the height
    overflow: auto; // Enables scrolling if content overflows
  }
}
@media screen and (orientation: landscape) {
  .header {
    flex: 0 0 10%; // Fixed to 10% of the height
  }

  .body {
    flex: 1 0 90%; // Takes up the remaining 80% of the height
    overflow: auto; // Enables scrolling if content overflows
  }
}

.football-background {
  background-color: brown;
}

.baseball-background {
  // need to set
  background-color: brown;
}

.basketball-background {
  background-color: #f88158;
}

.baseball-background {
  // need to set
  background-color: brown;
}

.football-text {
  color: white;
}

.baseball-text {
  color: black;
}

.basketball-text {
  color: white;
}

.soccer-text {
  color: black;
}

.football-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: brown;
}

.baseball-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: brown;
}

.soccer-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: brown;
}

.basketball-border-1 {
  border-width: 1px;
  border-style: solid;
  border-color: #f88158;
}
