@if (isMobile) {
  <div class="root-container">
    @if (activeLeague) {
      <div class="header">
        <div
          class="flex align-items-center justify-content-between border-bottom-1 surface-border"
        >
          @if (checkIfAtParentRoute()) {
            <div
              class="flex align-items-center justify-content-start text-primary"
              [routerLink]="['/home']"
            >
              <i class="pi pi-angle-left"></i>
              <span>Home</span>
            </div>
          } @else {
            <div
              class="flex align-items-center justify-content-start text-primary"
              (click)="goBack()"
            >
              <i class="pi pi-angle-left"></i>
              <span>Back</span>
            </div>
          }

          <span class="text-xl" [routerLink]="['/league', activeLeague.ID]">
            {{ activeLeague.Name }}
          </span>
          @if (hasDraftOccurred) {
            <span class="text-green" (click)="navigateTo('standings')">
              <i class="pi pi-chart-line"></i> Rankings</span
            >
          } @else {
            <span (click)="navigateTo('')"> Help</span>
          }
        </div>
      </div>

      <div class="body ml-1 mr-1">
        @if (checkIfAtParentRoute()) {
          @if (!hasDraftOccurred) {
            <div
              class="mt-2 mb-2 p-2 border-1 surface-border"
              (click)="navigateTo('draft')"
            >
              <span class="text-xl">Draft</span>
            </div>
          }
          <div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('team', '9vnblV3TFHb7XNisPvkX2tTTkhj2')"
          >
            <span class="text-xl">My Team: {{ myTeam?.TeamName }}</span>
          </div>
          <div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('player-search')"
          >
            <span class="text-xl">Transfer Portal</span>
          </div>
          <div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('current-games', '0')"
          >
            <span class="text-xl">Current Games</span> </div
          ><div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('history', myTeam?.PlayerID ?? '-1')"
          >
            <span class="text-xl">Game History</span>
          </div>
          <!-- @if (hasDraftOccurred) { -->
          <div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('draft-results')"
          >
            <span class="text-xl">Draft Results</span>
          </div>
          <!-- } -->
          <div
            class="mt-2 mb-2 p-2 border-1 surface-border"
            (click)="navigateTo('league-settings')"
          >
            @if (isLeagueManager) {
              <span class="text-xl">League Settings</span>
            } @else {
              <span class="text-xl">League Information</span>
            }
          </div>
          <!-- @if (hasDraftOccurred) { -->
          <div class="flex flex-column mt-2 mb-2 p-2 border-1 surface-border">
            <span class="text-xl">High Scoring Players</span>
            <span (click)="navigateTo('player')">Player info 1</span>
            <span (click)="navigateTo('player')">Player info 2</span>
            <span (click)="navigateTo('player')">Player info 3</span>
          </div>
          <div class="flex flex-column mt-2 mb-2 p-2 border-1 surface-border">
            <span class="text-xl">Low Scoring Players</span>
            <div>
              <span (click)="navigateTo('player', '0')">Player info 1</span>
            </div>
            <div>
              <span (click)="navigateTo('player', '1')">Player info 2</span>
            </div>
            <div>
              <span (click)="navigateTo('player')">Player info 3</span>
            </div>
          </div>
          <!-- } -->
        }
        <router-outlet></router-outlet>
      </div>
    } @else {
      <h2>No League Found</h2>
      <p-button label="Go Back" [routerLink]="['/home']"></p-button>
    }
  </div>
}
